@import url(product.css);

nav {font-weight: bold; font-size: 20px;color: red;
    word-spacing: 1em;
    font-family: 'Montserrat', sans-serif;}

header{ font-weight: bold; font-size: 24px; 
    font-family: 'Montserrat', sans-serif;}

main {font-size: 20px;font-family: 'Montserrat', sans-serif;}

footer {font-size: 12px; font-family: 'Montserrat', sans-serif;}

label{
    color: black;
}

ul {
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    font-weight: 780;
  }

  li {
  display: flex;
  justify-content: space-around;
  margin-top: 10px
  }

  li a, .dropbtn {
    display: inline-block;
    color: red;
    text-align: center;
    padding: 18px;
    text-decoration: none;
  }

  li a:hover, .dropdown:hover .dropbtn {
    background-color: #222A35;
    color: #F4F4F4;
  }


  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    justify-content: center;
    background-color: #FF0000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #222A35;
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: flex;
    text-align: center;
  }

  .dropdown-content a:hover {
      background-color: #222A35;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  } 

  div p {font-family: 'Montserrat', sans-serif,'Inter';}

  img {
    height: 200px;
    width: 200px;
  }

  nav {
    float: right;
  }

  .white {
    background-color: white;
  }

  .redFont {
    color: red;
  }

  .whiteFont {
    color: white;
  }

  #redCaption {
    font-size: xx-large;
    font-weight: bold;
    color: red;
  }

  .whiteCaption {
    font-size: 34em;
    font-weight: bold;
    color: white;
  }

  .innerCategories {
    display: inline-block;
    height: 300px;
    margin: 10px;
    width: 25%;
    color: red;
  }

  .newInner {
    display: inline-block;
    width: 40%;
    height: 250px;
  }

  .footerInner {
    display: inline-block;
    width: 32%;
    border: none;
  }

  footer {
    border-top: 2px white;
    background-color: #222A35;
    color: white;
  }

  footer table {
    padding-left: 5%;
    text-align: left;
    width: 70%;
  }

  .alignInfo {
    /* margin-left: 0; */
    padding: 14px 0px;
    width: 50%;
  }

  .buttonAlign {
    padding: 14px 0px;
    transform: translateX(100%);
  }
  
  
  button 
  {
    display: block;
    width: 100%;
    border: 5px;
  }

  hr.whiteLine {
    border: 0;
    height: 10px;
    margin-top: 0;
    border-bottom: 2px solid white;
    width: 95%;
  }
  
  #b{font-size: 50px;}

  main div p {font-size: 25px;}

  table p {font-size: 30px; font-weight: bold;}

  table input {font-size: 1.25em;}
  
  table select {font-size: 1.25em; width: 100%;}

  table textarea {font-size: 1.25em; width: 706px; height: 114px;}
  
  table button {font-size: 30px; color:white;background-color: red;}

  #allign {padding-bottom: 100px;}

.error{
    font-weight: 700;
    display: none;
    color: red;
    
  }

  #input{
    background-color: red;
    border:1px solid;
    display: block;
    width: 100%;
  }
  input:hover{
    cursor: pointer;
  }


